/* Gemensam stil för knappen */
.darkmode-button {
  background-color: transparent;
  color: #202C36;
  border: hidden;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.2s, background-color 0.2s;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.darkmode-button i {
  margin-right: 5px;
}

/* Ikon för Light Mode-knappen */
.darkmode-button::before {
  content: url('/moon-bordered.svg');
  width: 24px;
  height: 30px;
}



/* Dark Mode specifik stil för knappen */
body.dark-mode .darkmode-button {
 /* Bakgrundsfärg för knappen i mörkt läge */
  color: white; /* Textfärg för knappen i mörkt läge */
  border: none;
}



/* Ikon för Dark Mode-knappen */
body.dark-mode .darkmode-button::before {
  content: url('/moon.svg'); /* Använd en annan ikon för mörkt läge */
  width: 24px;
  height: 30px;
}

/* Justera ikonen vid hover i Dark Mode */
body.dark-mode .darkmode-button:hover::before {
  content: url('/moon.svg'); /* Behåll samma ikon vid hovring i mörkt läge */
}
