.container {
  padding: 30px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-input,
.region-select {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}






.country-card {
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px; 
  transition: transform 0.2s ease-in-out;
}

.country-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3; 
  object-fit: cover; 
}

.country-card h3 {
  margin: 10px 0;
  font-size: 1rem; 
}

.country-card p {
  margin: 5px 0;
  font-size: 0.875rem; 
}

.country-card:hover {
  transform: translateY(-10px);
}



