:root {
  --navbar-bg: #FFFFFF;
  --navbar-text-color: #007BFF;
  --dark-mode-bg: #1a1a1a;
  --dark-mode-text: #ffffff;
  --dark-mode-navbar-bg:rgb(43, 56, 68);
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: var(--navbar-bg);
  color: #202C36;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.navbar-title {
  font-size: 24px;
  
}

.navbar-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-logo {
  height: 30px;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
}

.dark-mode .navbar {
  background-color: var(--dark-mode-navbar-bg);
  color: var(--dark-mode-text);
}
