@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

:root {
  --input-bg: #fff;
  --input-text: #333;
  --input-placeholder: #888;
  --input-focus-border: #007BFF;
  --select-bg: #fff;
  --select-text: #333;
  --select-focus-border: #007BFF;
  --card-bg: #fff;
  --text-color: #333;
  --navbar-bg: #FFFFFF;
  --navbar-text-color: #007BFF;
  --dark-mode-bg: #2B3945;
  --dark-mode-text: #ffffff;
  --dark-mode-navbar-bg: #333333;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #F2F2F2;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  outline: none;
}

body.dark-mode {
  background-color: var(--dark-mode-bg);
  color: var(--dark-mode-text);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

}

.controls {
  display: flex;
  gap: 35px;
  margin-bottom: 35px;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

.search-input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  color: var(--input-text);
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  transition: border-color 0.2s;
  width: 40%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans';
}

.search-input::placeholder {
  color: var(--input-placeholder);
}

.search-input:focus {
  border-color: var(--input-focus-border);
  outline: none;
}

.region-select {
  background-color: var(--select-bg);
  border: 1px solid var(--select-border);
  color: var(--select-text);
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  transition: border-color 0.2s;
  width: 250px;
  margin-right: 3px;
  font-family: 'Open Sans';
    font-weight: 600;
}

.region-select:focus {
  border-color: var(--select-focus-border);
  outline: none;
  width: 250px;
  
}

.countries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 62px;
  width: 100%;
  max-width: 1200px;
}

.country-card {
  background-color: var(--card-bg);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px; 
}

body.dark-mode .country-card {
  color: var(--dark-mode-text);
}

.country-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.country-card h3 {
  font-weight: 600;
    font-family: 'Open Sans';
    margin: 14px 21px 5px;
    color: var(--text-color);
}

.country-card p {
  margin: 5px 18px;
  font-size: smaller;
    font-family: sans-serif;
}

.country-card p span {
  font-weight: 400;
  margin: 5px 4px;
  color: var(--text-color);
}

.country-card a {
  text-decoration: none;
  color: inherit;
}

.country-card:hover {
  transform: translateY(-10px);
}

body.dark-mode .search-input,
body.dark-mode .region-select,
body.dark-mode .country-card {
  background-color: var(--dark-mode-bg);
  color: var(--dark-mode-text);
}

body.dark-mode .search-input::placeholder,
body.dark-mode .region-select::placeholder {
  color: var(--dark-mode-text);
}

body.dark-mode .country-card h3,
body.dark-mode .country-card p,
body.dark-mode .country-card a {
  color: var(--dark-mode-text);
}

body.dark-mode .country-card p span {
  color: #ffffff;
}

.navbar-logo {
  transition: filter 0.3s;
}

body.dark-mode .navbar-logo {
  filter: invert(1);
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .controls {
    flex-direction: column;
    align-items: center;
  }

  .search-input {
 
    width: 90%;
  }

  .countries-grid {
    grid-template-columns: 1fr;
    gap: 35px;
  }

  .country-card img {
    height: auto;
  }
}





@media (max-width: 500px)  {
  body.dark-mode .navbar-logo{
    display: none !important;
    visibility: hidden !important;
  }
}
@media (max-height: 500px)  {
  body.dark-mode .navbar-logo {
    display: none !important;
    visibility: hidden !important;
  }
}



@media (max-width: 500px)  {
  .navbar-logo{
    display: none !important;
    visibility: hidden !important;
  }
}
@media (max-height: 500px)  {
  .navbar-logo {
    display: none !important;
    visibility: hidden !important;
  }
}


@media (max-width: 500px)  {

  .region-select {
    
    margin-right: auto;
  }

}


@media (max-height: 500px)  {

  .region-select  {
    
    margin-right: auto;
  }

}