.country-card {
  background-color: var(--card-bg);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  padding: 15px; 
  text-decoration: none; 
}

.country-card img {
  width: 100%;
  height: auto;
}









.country-card:hover {
  transform: translateY(-10px);
}

body.dark-mode .country-card {
  background-color: var(--dark-mode-bg);
  color: var(--dark-mode-text);
}

body.dark-mode .country-card a {
  text-decoration: none; 
}
